
@font-face {
	font-family: 'NotCourierSans';
	src: url('../fonts/NotCourierSans.ttf')  format('truetype');
}

nav {
	display: none;
}

.receipt-container {
	margin-top: 20px;
	font-family: 'NotCourierSans';
}

.receipt-inner-container {
	box-shadow: 1px 1px 5px #ddd;
}

html, body {
	overflow-x: hidden;
}

.text-container {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 38%;
    color: #fff;
    z-index: 10;
    /*text-shadow: 1px 1px 4px #000;*/
}


.text-container h1 {
	font-family: 'Lato', sans-serif;
	font-size: 121px;
}

.text-container blockquote {
	font-size: 23px;
	font-family: 'Lato', sans-serif;
}



.search-container .form-group {
	margin-top: 11px;
}

nav {
	background-color: #337ab7 !important; 
}

nav ul li a, nav .navbar-brand{
	color: #fff !important;
}


.jumbotron {
	margin-top: 65px;
	background-color:#f8f8f8;
}

.panel-footer {
	color: #858585;
}

.fb-share-button {
	    display: inline-block;
    margin: 0 auto;
    margin-left: 143px;
}

.platform-container .platform-item .platform-inner-container{
	background: #f8f8f8;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
    margin:5px;

}

.platform-container .platform-item {
	/*z-index: 0;*/
}

.bg-banner {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
    background: url(https://pixabay.com/static/uploads/photo/2015/02/27/23/29/philippines-652971_960_720.png);
    background-position: initial;
    /*z-index: 10;*/
    background-size: cover;

}

.platform-item .panel-footer {
	height: 60px;
}

.platform-container .platform-item .selected {
	display: none;
	cursor: pointer;
	position: absolute;
    width: 81%;
    height: 51%;
    background-color: rgba(0,100,150,0.6);
    text-align: center;
    padding: 50px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    font-size: 20px;
}

.platform-container .platform-item .img-holder{
	width: 100%;
	cursor: pointer;
}

.platform-container .platform-item .img-holder img {
	height: auto;
	max-width: 100%;
}

.platform-container .platform-item .platform-inner-container:hover {
	background-color: #EBEBEB;
	box-shadow: 1px 3px 4px #D6D6D6;
}

.platform-container .platform-item h4{
	color: #858585;
}

.small-note {
	color:#858585;
}

.up-container {
	position: fixed;
	bottom: 10px;
	right: 20px;
}

.up-btn{
	cursor: pointer;
	padding: 20px;
	background-color: #ddd;	
	width: 80px;
	height: 50px;
	color:#858585;
	text-align: center;
}

.feeds-container {
	height: 500px;
	background-color: #ddd;
	text-align: center;
	color: #858585;
	padding: 10px;
}

.courier-name {
	color: #858585;
	font-size: 12px;
}

.courier-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
	cursor: pointer;
}

.criticized-for, .stand {
	font-size: 12px;
}

.courier-name {
	font-size: 15px;
}


/**
* receipt
*
*/

.candidate-name {
	text-transform: uppercase;
}